@charset "UTF-8";


body{
    background-color: #aab587;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #005C53;

}
h1#principal{
    text-align: center;
    color:#042940;
    background-color: rgb(222, 166, 94);


}
h2{
    color:#D6D58E;

}
.basico{
    color: blue;

}
.avancado{
     color: red;
}
.intermediario{
    color: ivory;
}
.destacado{
    background-color: rgb(92, 92, 95);
}