@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?família=Paixão+Um:wght@700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?família=Sriracha&display=swap');


:root{
   --font1:Verdana, Geneva, Tahoma, sans-serif;
   --font2:'Passion One';
   --font3:'Sriracha';
}

*{                                                            /*configuração global*/
    padding: 0px;
    margin: 0px;
    
    
}
html body{
    min-height: 100vh;                                   
    background-color: darkgrey;
    font-family: var(--font1);
}
header{
    background-color: black;                            /*cor de fundo da caixa*/
    color: white;                                       /*cor da letra*/
    text-align: center;                                   /*texto centralizado*/
}
header > h1{
    padding: 50px;                                        /*acolchoamento de dentro*/
    font-variant: small-caps;  
    font-family: var(--font2);  
    font-size: 10vh;                         /*fonte mais bonita*/
}
header > p{
    padding-bottom: 50px;                                 /*acolchoamento de dentro*/
}
a{
    color: white;                                       /*cor*/
    text-decoration: none;                                /*texto decoração nenhum */
    font-weight: bold;                                    /*negrito*/
}
a:hover{
    text-decoration: underline;                           /*decoração sublinhar*/
}
section{
    padding-top: 10vh;                                     /*ganhar espaço e rolagem*/
    padding-bottom: 10vh;                                  /*ganhar espaço e rolagem*/
    line-height: 2em;                                       /*espaço duplo entre as frases*/
    padding-left: 30px; 
    font-size: 3.5vh;                                    /*acolchoamento esquerda 30px*/
}
section.normal{
    background-color: white;                             /*fundo branco*/
    color: black;                                        /*cor preta*/
}
section.imagem{
    background-color: rgb(108, 104, 104);                 /*fundo branco*/
    color: white;                                         /*color branca*/
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;

}

footer{
    background-color: black;                              
    color: white;
    text-align: center;
    padding:10px
}