@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Dancing Script', cursive;
    --fonte3: 'Shadows Into Light', cursive;
 }

*{                                                            /*configuração global*/
    padding: 0px;
    margin: 0px;
    
}
html body{
    min-height: 100vh;                                   
    background-color: darkgrey;
    font-family: var(--font1);
}
header{
    background-color: black;                            /*cor de fundo da caixa*/
    color: white;                                       /*cor da letra*/
    text-align: center;                                   /*texto centralizado*/
}
header > h1{
    padding: 50px;                                        /*acolchoamento de dentro*/
    font-variant: small-caps;  
    font-family: var(--font2);  
    font-size: 10vh;                         /*fonte mais bonita*/
}
header > p{
    padding-bottom: 50px;                                 /*acolchoamento de dentro*/
}
a{
    color: white;                                       /*cor*/
    text-decoration: none;                                /*texto decoração nenhum */
    font-weight: bold;                                    /*negrito*/
}
a:hover{
    text-decoration: underline;                           /*decoração sublinhar*/
}
section{
    padding-top: 10vh;                                     /*ganhar espaço e rolagem*/
    padding-bottom: 10vh;                                  /*ganhar espaço e rolagem*/
    line-height: 2em;                                       /*espaço duplo entre as frases*/
    padding-left: 30px; 
    font-size: 3.5vh;                                    /*acolchoamento esquerda 30px*/
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;                             /*fundo branco*/
    color: black;                                        /*cor preta*/
}
section.imagem{
    background-color: rgba(108, 104, 104, 0.478);                 /*fundo branco*/
    color: white;                                         /*color branca*/
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.244);
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);

}
section#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url('imagens/background002.jpg');
    background-size: cover;
}

footer{
    background-color: black;                              
    color: white;
    text-align: center;
    padding:10px
}