@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? família=Bebas+Neue&display=swap');

@font-face{
    font-family: "android";
    src: url('../fontes/idroid.otf') format('opentype')
    font-weight normal
                          
}


:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-padrao: Arial, verdana, helvetica, sans-serif;
    --fontes-destaque: 'Bebas Neue', cursiva;
    --font-android:'android',cursiva;
    }
    *{                                     /*configuração global*/
      margin: 0px;
      padding: 0px;
    }

  

     body{
        background-color: var(--cor0);
        font-family: var(--font-padrao);
     }
     a.externa::after{
      content: '\00a0\1F517';

     }
     header{
      background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
      min-height: 150px;
      text-align: center;
      padding-top: 40px;
      
     }
     header h1{
        color: white;
        font-family: var(--fontes-destaque);
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 3em;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
     }
     header > p{
      font-family: var(--font-padrao);
      font-size: 1.2em;
      color: white;    
      max-width: 500px;
      padding-right: 10px;
      padding-left: 10px;
      margin: auto;
      margin-bottom: 30px;     
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
     }
     nav{
      background-color: var(--cor5);
      box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.398);
      padding: 10px;
     }
     nav > a{
      color: var(--cor1);
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      transition-duration: .5s;
     }
     nav > a:hover{
      background-color: var(--cor3);
      color: var(--cor5);
     }
     
     main{    
      min-width: 300px;
      max-width: 1000px;                                    
      padding: 20px;                                           /*espaço entre as letras*/
      margin: auto;                                            /*margem centralizada*/
      margin-bottom: 30px;                                     /*margem de baixo*/
      background-color: white;                                     /*caixa*/
      box-shadow: 0px 0px 10px black;                        /*sombra da caixa*/
      border-bottom-left-radius: 10px;                          /*borda inferior esquerda*/
      border-bottom-right-radius: 10px;                         /*borda inferior direita*/
     }
     main h1{
        color: var(--cor5);
        font-family: var(--font-android);
        font-weight: normal;

     }
     main h2{
        font-family: var(--font-android);
        color: var(--cor4);
        font-weight: normal;
        font-size: 1.3em;
        background-image: linear-gradient(to right, #83e1ad, transparent );
        text-indent: 8px;
     }
     main p{
      margin: 15px 0px;                                   /*margem de uma pra outra*/
      text-align: justify;                               /*texto justify*/
      text-indent: 30px;                                /*texto de redação*/
      font-size: 1em;                                   /*tamanho do paragrafo*/
      line-height: 2em;                                /*espaço entre linhas*/
    }
    main strong{
      color: var(--cor4);
      
    }
    main a{
      text-decoration: none;
      font-weight: bold;
      color: var(--cor5);
      background-color: var(--cor1);
      padding: 2px 6px;
    }
    main a:hover{
      text-decoration: underline;
      color: var(--cor4);
    }
     main img{
      width: 100%;
     }
     main img.pequena{
      max-width: 350px;                                     /*sem imagem pequena do bugdroid*/
      display: block;
      margin: auto;
     }
     div.video{
      background-color: var(--cor5);
      margin: 0px -20px 30px -20px;    
      padding: 20px;
      padding-bottom: 58%;
      position: relative;

     }
     div.video > iframe{
      position: absolute;
      top: 20%;
      left: 5%;
      width: 90%;
      right: 90%;
    }
     aside{
      background-color: #83e1ad;
      padding: 10px;
      border-radius: 10px;      
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.461);
     }
     aside h3{
      background-color: var(--cor4);
      color: white;
      padding: 10px;
      margin: -10px -10px 0px -10px;
      border-radius: 10px 10px 0px 0px;
      
     }
     aside ul{
      list-style-type: '\2714\00A0\00A0';                  /*emoji check e um espaço da borda*/
      list-style-position: inside;
      columns: 2;
     }
     footer{
      background-color: var(--cor5);
      color: white;
      text-align: center;
      font-size: 0.8em;
      padding: 5px;
     }
     footer a{
      color: white;
      font-weight: bold;
      text-decoration: none;
     }
     footer a:hover{
      text-decoration: underline;
      color: #3ddc84;
     }

    
    
     
    
